a:link {
    text-decoration: none;
}
            
.wrapper {
    width: 800px;
    padding-top: 10px;
    background-color: lime;
    clear: both;
}

.sideBySide {
    float: left;
    width: 390px;
    background-color: yellow;
    padding-top: 20px;
    margin: 5px;
}